.col-2-kembali {
    width: 11%;
}


@media (max-width:1450px) {
    .col-2-kembali{
        width: 14%;
    }
}

@media (max-width:1115px) {
    .col-2-kembali{
        width: 12%;
    }
}

@media (max-width:900px) {
    .col-2-kembali {
        width: 16%;
    }
}

@media (max-width:835px) {
    .col-2-kembali {
        width: 17%;
    }
}

@media (max-width:770px) {
    .col-2-kembali {
        width: 19%;
    }
}

@media (max-width:430px) {
    .col-2-kembali {
        width: 42%;
    }
}


@media (max-width:415px) {
    .col-2-kembali {
        width: 45%;
    }
}

@media (max-width:400px) {
    .col-2-kembali {
        width: 50%;
    }
}

@media (max-width:380px) {
    .col-2-kembali {
        width: 52%;
    }
}

@media (max-width:365px) {
    .col-2-kembali {
        width: 58%;
    }
}



.message-body {
    max-height: 360px;
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit!important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}
.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto!important;
    height: auto!important;
    z-index: 0;
}
.simplebar-offset {
    direction: inherit!important;
    box-sizing: inherit!important;
    resize: none!important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box!important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
